*{
    margin: 0;
}
a{
    text-decoration: none;
}
button:hover{
    border-radius: 10px;
}
.header-burger {
    display: none;
}
.conteiner{
    max-width: 1108px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px auto;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50; 
}
.header:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header-logo {
    position: relative;
    z-index: 3;
}
.header-logo img{
    width: 100%;
}
.header-list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header-list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header-link {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    text-decoration-line: none;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-left: 66px;
}
.header-link:hover{
    color: #F6D330;
}

@media (max-width: 700px){
    body.lock{
        overflow: hidden;
    }
    .header-body {
        height: 60px;
        margin-top: 10px;
    }
    .header-logo{
        flex: 0 0 130px;
        margin-left: 10px;
    }
    .header-burger{
        display: block;
        position: relative;
        width: 30px;
        height: 19px;
        z-index: 3;
        margin-right: 10px;
    }

    .header-burger:before,
    .header-burger:after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header-burger:before{
        top: 0;
    }
    .header-burger:after{
        bottom: 0;
    }
    .header-burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-menu{
        position: fixed;
        top: -140%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 70px 10px 0px 10px;
        background-color: rgb(255, 255, 255);
        transition: all 0.4s ease 0s;
        display: flex;
        justify-content: center;
    }
    .header-menu.active{
        top: 0;
    }
    .header-list {
        display: block;
        width: 150px;

    }
    .header-list li{
        margin: 0px 0px 0px 0px;
        padding-top: 23px;
    }
    .header-link {
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 0px;
    }
    .header-link:hover{
        color: #F6D330;
    }
}


.home-page{
    background: url(https://www.marvelpowergroup.com/assets/images/marvel-main.jpg) no-repeat center/cover;
    width: 100%;
    height: 900px;
    position: relative;
    text-align: center;
}
.home-page-text{
    padding-top: 370px;
    margin: auto;
}
.home-page .p1{
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 115px;
    line-height: 130px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.home-page .p2{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.home-page-button{
    width: 196px;
    height: 48px;
    left: 721px;
    top: 732px;
    background: #F9D023;
    margin-top: 65px;
    text-align: center;
} 


@media (max-width: 700px){

    .home-page{
        background: url(/ForTest/img/Main-home.jpg) no-repeat center/cover;
        width: 100%;
        height: 500px;
        position: relative;
        text-align: center;
    }
    .home-page-text{
        padding-top: 150px;
        margin: auto;
    }
    .home-page .p1{
        font-family: 'Alata';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        padding-bottom: 15px;
    }
    .home-page .p2{
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    .home-page-button{
        width: 196px;
        height: 48px;
        left: 721px;
        top: 732px;
        background: #F9D023;
        margin-top: 65px;
    
    } 
}

.about-us p{
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    color: #000000;
    padding-top: 93px;
    padding-bottom: 50px;
}
.about-strange-line{
    width: 100px;
    height: 6px;
    margin-bottom: 55px;
    background: #F6D330;
}
.about-description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 140px;
}
.about-description-picter{
    width: 486px;
    /* height: 315px; */
    margin-right: 68px;
    margin-bottom: 20px;
}
.about-description-picter img{
    width: 100%;
    /* height: 100%; */
}
.about-description-text{
    max-width: 490px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #0B0D21;
}


.services{
    background: #F6D330;
}
.services-services p{
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    color: #000000;
    padding-top: 101px;
    padding-bottom: 62px;
}
.services-strange-line{
    width: 100px;
    height: 6px;
    margin-bottom: 45px;
    background: #ffffff;
}
.services-text-one{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #0B0D21;
    max-width: 837px;
    padding-bottom: 47px;
}
.services-blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 67px;

}
.services-content{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    max-width: 286px;
    padding-bottom: 23px;
}
.services-blocks-one-text{ 
    padding-top: 10px;  
}
.services-blocks-one-text img{ 
    padding-right: 10px;
}
.services-blocks-one-text-last{ 
    padding-top: 10px;
    padding-bottom: 41px;
}
.services-blocks-one-text-last img{ 
    padding-right: 10px;
}
.services-arrow{
    padding-left: 20px;
}
.services-arrow:hover{
    filter: invert(1);
}
.last{
    padding-top: 41px; 
}

.services-text-two{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 92px;
    max-width: 837px;
}

.contact{
    background-color: #000000;
    color: #FFFFFF;
    position: relative;
}
.contact-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-one{
    padding-top: 101px;
}
.contact-one-contact{
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    padding-bottom: 40px;
}
.contact-one-strange-line{
    width: 100px;
    height: 6px;
    margin-bottom: 39px;
    background: #F6D330;
}
.contact-one-email{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
}
.contact-one-email p{
    text-decoration-line: underline;
    color: #F6D330;
}

.contact-two{
    padding-top: 154px;
    padding-bottom: 288px;
}
.contact-two-text{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    width: 280px;
    padding-bottom: 41px;
}
.contact-two-input{
    display: flex;
    flex-direction: column;
}
.contact-two-input input{
    width: 445px;
    height: 48px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
}
.contact-two-input button{
    width: 272px;
    height: 48px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #000000;
    background-color: #F6D330;
}
.for-end{
    display: flex;
    justify-content: end;
}

@media (max-width: 700px){
    .contact-one-email p{
        text-decoration-line: underline;
        color: #F6D330;
        font-size: 25px;
    }
    .contact-two-input input{
        width: 300px;
    }
}

